<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
    <location path="catalog.cfm">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://neuromab.ucdavis.edu/neuromabs.cfm" exactDestination="false" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>
</configuration>
